@{
    ViewData["Title"] = "Mi primera vista";
    string autor = "Sebastián Hernández";
    int edad = 21;
}

<html>
<head>
    <title>@ViewData["Title"]</title>
</head>

<body>
    <h1>@ViewData["Title"]</h1>
    <p>Autor: @autor</p>
    <p>Edad: @edad</p>

    <p>
        <strong>Yo soy: </strong>@autor, tengo @edad años y estoy aprendiendo ASP.NET Core MVC.
    </p>
    <p>Fecha de creación: @DateTime.Now.ToString("dd/MM/yyyy")</p>
    <p>Hora de creación: @DateTime.Now.ToString("HH:mm:ss")</p>
</body>
</html>